@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li><a href="/PersonalInfo">Kişisel Bilgiler</a></li>
    <li><a href="/Education">Eğitim</a></li>
    <li><a href="/WorkExperience">İş Deneyimleri</a></li>
    <li><a href="/Projects">Projeler</a></li>
    <li><a href="/Skills">Yetenekler</a></li>
    <li><a href="/References">Referanslar</a></li>
</ul>