@page
@{
    ViewData["Title"] = "Kişisel Bilgiler";
}

<h2>Kişisel Bilgiler</h2>
<p>Ad: Emir Kaynar</p>
<p>Doğum Tarihi: 11/05/2004</p>
<p>Telefon: 501-1312930</p>
<p>Github: github.com/Emirkynr</p>
<p>Mail: Emirkaynar20004@gmail.com</p>
